<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required in release builds: the OTA catalogue sync and auto-update
         manager perform HTTP(S) calls, and remote app icons are loaded over
         the network. The debug/profile manifests only cover development builds,
         so this must be declared here for release APKs/AppBundles. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Waptia"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- Required to query ecosystem applications on Android 11+ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <package android:name="com.infortts.meeseeks"/>
        <package android:name="com.infortts.mitochondria"/>
        <package android:name="com.infortts.ikaria"/>
        <package android:name="com.infortts.glycocalyx"/>
        <package android:name="com.infortts.care4u"/>
        <package android:name="com.infortts.ernietta"/>
        <package android:name="com.infortts.fractofusus"/>
        <package android:name="com.infortts.opabinia"/>
        <package android:name="com.infortts.orthrozanclus"/>
        <package android:name="com.infortts.tridrishti"/>
        <package android:name="com.infortts.pikaia"/>
        <package android:name="com.infortts.wiwaxia"/>
        <package android:name="com.infortts.hallucigenia"/>
        <package android:name="com.infortts.anomalocaris"/>
        <package android:name="com.infortts.canadia"/>
        <package android:name="com.infortts.kimberella"/>
        <package android:name="com.infortts.cloudia"/>
        <package android:name="com.infortts.elysium"/>
        <package android:name="com.infortts.tunicata"/>
        <package android:name="com.infortts.marrella"/>
        <package android:name="com.infortts.vavilov"/>
        <package android:name="com.infortts.volvocine"/>
        <package android:name="com.infortts.haikouichthys"/>
        <package android:name="com.infortts.vetulicolia"/>
        <package android:name="com.infortts.diania"/>
        <package android:name="com.infortts.charnia"/>
        <package android:name="com.infortts.tribrachidium"/>
        <package android:name="com.infortts.yorgia"/>
        <package android:name="com.infortts.spriggina"/>
    </queries>
</manifest>
